* {
    background-color: rgba(12, 12, 12, 0);
    color: white;
    font-size: 17px;
    font-family: Lucida Console, sans-serif;
}

#center {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#casque {
    width: 100px;
    height: 100px;
    object-fit: contain;
}


@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* IE */
@-ms-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#blink {
    -moz-animation: blink normal 5s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 5s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 5s infinite ease-in-out; /* IE */
    animation: blink normal 5s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

button {
    border: none;
    outline: none;
    background: none;
    text-decoration: underline;
    transition: transform .1s;
}

button:hover {
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}




