<div id="_clumps" class="modalDialog">
    <div><a href="#close" title="Close" class="close">X</a>
        <div>
            <h1 class="titre">Entité : Clumps</h1>
        </div>
        <div>
            <model-viewer class="viewer-3D" src="{{ url_for('static',filename='content/viewer/model/clumps.glb') }}"
                          camera-controls
                          poster="poster.webp"
                          shadow-intensity="1">
                <div class="progress-bar hide" slot="progress-bar">
                    <div class="update-bar"></div>
                </div>
            </model-viewer>
        </div>
        <div>
            <p></strong>Entité 5: </strong><br>
                <strong>》Niveau 2 et 3</strong> <br>
                <strong>》5 Entités</strong> <br>
                Les Clumps sont des entités dangereuses qui se cachent dans des endroits étroits des Backrooms. Leur
                apparence est constituée d'un enchevêtrement de membres humains qui s'agitent dans toutes les
                directions. Elles sont très intelligentes pour piéger leurs proies. Elles restent immobiles jusqu'à
                ce qu'une personne s'approche, puis elles attaquent rapidement en utilisant leurs bras puissants
                pour saisir et absorber leurs victimes. Il est crucial de rester loin des Clumps et d'éviter tout
                contact, car leur emprise peut être douloureuse et dangereuse</p>
        </div>
    </div>
</div>