<div id="_hound" class="modalDialog">
    <div><a href="#close" title="Close" class="close">X</a>
        <div>
            <h1 class="titre">Entité : Hound</h1>
        </div>
        <div>
            <model-viewer class="viewer-3D" src="{{ url_for('static',filename='content/viewer/model/hound.glb') }}"
                          camera-controls
                          shadow-intensity="1">
                <div class="progress-bar hide" slot="progress-bar">
                    <div class="update-bar"></div>
                </div>
            </model-viewer>
        </div>
        <div>
            <p>Les Hounds sont des créatures dangereuses que l'on trouve dans les niveaux des Backrooms. Ils
                ressemblent à des humanoïdes avec des cheveux noirs en désordre, de grandes bouches pleines de dents
                pointues et des yeux entièrement blancs. Ils se déplacent à quatre pattes comme des chiens et
                deviennent agressifs dès qu'ils repèrent un être humain. Il est préférable de les éviter à tout prix,
                car ils sont extrêmement dangereux. Les Hounds peuvent être momentanément bloqués en les regardant
                vers le bas, mais il est plus sûr de rester hors de leur vue et de s'éloigner. Ils ont des griffes
                tranchantes et leur morsure peut provoquer une transformation en Hound. Si vous êtes mordu, il est
                recommandé de vous isoler ou de tuer la personne infectée, car il n'y a pas de remède connu à ce jour.
                Soyez vigilant et protégez-vous des Hounds pour assurer votre sécurité dans les Backrooms.</p>
        </div>
    </div>
</div>