<div id="_logo-br" class="modalDialog">
    <div><a href="#close" title="Close" class="close">X</a>
        <div>
            <h1 class="titre">Backrooms Wiki</h1>
        </div>
        <div>
            <model-viewer class="viewer-3D" src="{{ url_for('static',filename='content/viewer/model/logo-br.glb') }}"
                          camera-controls
                          poster="poster.webp"
                          shadow-intensity="1">
                <div class="progress-bar hide" slot="progress-bar">
                    <div class="update-bar"></div>
                </div>
            </model-viewer>
        </div>
        <div>
            <p>Le <a href="https://backrooms.fandom.com/fr/wiki/Wiki_backrooms">Backrooms Wiki</a> est une encyclopédie en ligne qui se consacre à la documentation et à l'exploration
                des backrooms. Il a été créé par des passionnés et des contributeurs de la communauté en ligne qui
                étaient intéressés par ce phénomène et souhaitaient rassembler les connaissances et les expériences
                liées aux backrooms en un seul endroit.<br>
                La création du Backrooms Wiki a été motivée par le désir de fournir un espace centralisé où les
                utilisateurs pouvaient contribuer, partager des récits, des photographies et des informations sur les
                différents niveaux et aspects des backrooms. Il permet également aux utilisateurs de discuter, de
                poser des questions et d'échanger des conseils sur la navigation et la survie dans ces espaces
                fictifs.<br>
                e wiki est continuellement mis à jour et élargi grâce aux contributions de la communauté. Les
                utilisateurs peuvent ajouter de nouvelles pages, modifier les existantes et collaborer pour créer
                un contenu exhaustif et détaillé sur les backrooms. Cela permet aux membres de la communauté de
                partager leurs découvertes, leurs théories et leurs expériences, tout en permettant aux nouveaux
                arrivants d'en apprendre davantage sur ce phénomène.</p>
        </div>
    </div>
</div>