<div id="_machine" class="modalDialog">
    <div><a href="#close" title="Close" class="close">X</a>
        <div>
            <h1 class="titre">Reality Lag Machine</h1>
        </div>
        <div>
            <model-viewer class="viewer-3D" src="{{ url_for('static',filename='content/viewer/model/machine.glb') }}"
                          camera-controls
                          poster="poster.webp"
                          shadow-intensity="1">
                <div class="progress-bar hide" slot="progress-bar">
                    <div class="update-bar"></div>
                </div>
            </model-viewer>
        </div>
        <div>
            <p><strong>EXTRAIT TIRÉ DES ARCHIVES DE L'OBJET 86 DU GROUPE BACKROOMS ROBOTICS :</strong><br>
                <strong>Original : </strong><br>
                L'Objet 86, communément appelé Machine de Décalage Réalité, est un puissant émetteur d'ondes actionné
                manuellement, capable de "supprimer" la réalité ou de la faire cesser d'exister en utilisant des ondes
                négatives oscillantes d'une puissance suffisante pour perturber la nature fondamentale de toute chose.
                Cela entraîne temporairement une cessation totale de l'existence, avant que celle-ci ne soit à nouveau
                rétablie dans la réalité normale, pour ensuite disparaître à nouveau selon un schéma rythmique en
                réponse à la production d'ondes négatives générées par l'émetteur, supprimant ainsi essentiellement
                le temps et l'espace. En même temps, il réapparaît dans l'existence grâce à la masse, à l'énergie ou
                aux ondes quantiques.<br>
                L'intervalle entre l'effacement et la réapparition s'intensifie avec les NHz, prolongeant ainsi les
                périodes d'inexistence entre chaque effacement et réapparition, ce qui entraîne des délais encore plus
                longs. En théorie, avec une onde négative suffisamment puissante, la cessation permanente de la
                réalité - et par conséquent de l'existence - devient possible.<br>
                L'Objet 86 est alimenté par une source d'ondes négatives appelée "Noyau du Cataclysme", un noyau
                sphéroïdal de plasma extrêmement densifié, constitué d'ondes négatives, qui tourbillonne et flotte à
                l'intérieur d'une structure en tesseract faite d'un matériau translucide inconnu et résistant.<br>
                La méthode complexe pour obtenir une telle source d'ondes négatives est encore inconnue de la plupart
                des employés et du personnel de Backrooms Robotics, et son origine est strictement confidentielle au
                sein de l'entreprise.</p>
        </div>
    </div>
</div>