<div id="_papier_4" class="modalDialog">
    <div><a href="#close" title="Close" class="close">X</a>
        <div>
            <h1 class="titre">Entitées</h1>
        </div>
        <div>
            <model-viewer class="viewer-3D" src="{{ url_for('static',filename='content/viewer/model/papier.glb') }}"
                          camera-controls
                          poster="poster.webp"
                          shadow-intensity="1">
                <div class="progress-bar hide" slot="progress-bar">
                    <div class="update-bar"></div>
                </div>
            </model-viewer>
        </div>
        <div>
            <p>"Les entités sont des créatures hostiles présentes dans les Backrooms, capables de prendre l'apparence
                de divers objets ou de lumières clignotantes. Leur objectif est de semer la confusion et de causer des
                dommages aux explorateurs des Backrooms. Il est essentiel de se méfier des entités, car elles sont
                constamment à l'affût, observant les déplacements des individus pour trouver la sortie du niveau 0.<br>
                Certaines zones des Backrooms peuvent présenter peu d'entités, tandis que d'autres peuvent en
                regorger. Il est important de rester vigilant et de prendre toutes les précautions nécessaires lors de
                l'exploration, car les apparences peuvent être trompeuses. Certaines entités peuvent sembler mignonnes
                ou inoffensives, mais il est impossible de déterminer avec certitude si elles représentent un danger
                ou non.<br>
                Il existe un grand nombre d'entités hostiles dans les Backrooms, chacune ayant ses propres
                caractéristiques et méthodes d'attaque. Certaines peuvent attaquer instantanément dès qu'elles
                repèrent leur proie, tandis que d'autres peuvent utiliser des tactiques plus subtiles pour semer
                la confusion et l'angoisse chez les explorateurs.<br>
                Il est primordial de se tenir informé des différentes entités présentes dans les Backrooms et de
                comprendre leurs comportements afin de maximiser les chances de survie lors de l'exploration de cet
                environnement dangereux. La prudence et la vigilance restent les meilleurs moyens de se protéger des
                entités hostiles et de trouver un moyen de quitter les Backrooms en toute sécurité."</p>
        </div>
    </div>
</div>