<div id="_papier_2" class="modalDialog">
    <div><a href="#close" title="Close" class="close">X</a>
        <div>
            <h1 class="titre">Niveaux</h1>
        </div>
        <div>
            <model-viewer class="viewer-3D" src="{{ url_for('static',filename='content/viewer/model/papier.glb') }}"
                          camera-controls
                          poster="poster.webp"
                          shadow-intensity="1">
                <div class="progress-bar hide" slot="progress-bar">
                    <div class="update-bar"></div>
                </div>
            </model-viewer>
        </div>
        <div>
            <p>Les backrooms se repartissent sur un nombre infini de niveaux, il en existe toute une floppée.
                Les Niveaux Normaux constituent le cœur des Backrooms et présentent une grande variété en termes de
                taille, de dangerosité et d'habitabilité. Les Niveaux Typiques, bien que le terme "typique" puisse
                avoir une signification relative dans les Backrooms, sont généralement de taille infinie (malgrès que
                certains niveaux aient des limites) et suscitent souvent un sentiment étrange de familiarité chez
                les explorateurs. Les lois de la physique et de la nature telles que nous les connaissons ne
                s'appliquent pas dans les profondeurs des Backrooms. Malgré cela, certains niveaux offrent un
                environnement accueillant et stable où des communautés prospères se sont établies, et certaines
                personnes ont réussi à survivre même dans les niveaux les plus dangereux.<br>
                Les entrées et sorties de chaque niveau sont répertoriées autant que possible, car il est souvent
                nécessaire de se retirer rapidement. Il est important de noter que les niveaux peuvent parfois être
                instables, ce qui signifie que la documentation de chaque niveau peut être modifiée sans préavis.
                Les niveaux marqués d'un [PAS DE DONNÉES] n'ont pas encore été suffisamment catalogués. Si vous
                disposez d'informations sur l'un de ces niveaux, veuillez les ajouter à la base de données ! "</p>
        </div>
    </div>
</div>