<div id="_papier_1" class="modalDialog">
    <div><a href="#close" title="Close" class="close">X</a>
        <div>
            <h1 class="titre">Origine des backrooms</h1>
        </div>
        <div>
            <model-viewer class="viewer-3D" src="{{ url_for('static',filename='content/viewer/model/papier.glb') }}"
                          camera-controls
                          poster="poster.webp"
                          shadow-intensity="1">
                <div class="progress-bar hide" slot="progress-bar">
                    <div class="update-bar"></div>
                </div>
            </model-viewer>
        </div>
        <div>
            <p>Née sur le site 4chan il y a quelques années, la creepypasta (ou mythe populaire) des "Backrooms" est
                devenue l'un des plus grands projets collaboratifs d'Internet.<br>
                Tout a commencé quand un utilisateur de 4chan a posté la photo du niveau 0. <br>
                Les Backrooms ont vu le jour via un fil de discussion posté sur le board /x/ de 4chan le 14 mai
                2019, où un utilisateur anonyme a demandé aux membres de poster des images perturbantes. Dans les
                réponses de ce fil se trouvait une image représentant un long couloir jaune avec une moquette et
                des néons au plafond. Cette image originelle donnant naissance aux Backrooms. Le Niveau 0 était né.<br>
                Rapidement, d'autres niveaux seront créés, et, de fil en aiguille, le wikidot Backrooms sera créé. </p>
        </div>
    </div>
</div>