<div id="_reddit" class="modalDialog">
    <div><a href="#close" title="Close" class="close">X</a>
        <div>
            <h1 class="titre">Reddit</h1>
        </div>
        <div>
            <model-viewer class="viewer-3D" src="{{ url_for('static',filename='content/viewer/model/reddit.glb') }}"
                          camera-controls
                          poster="poster.webp"
                          shadow-intensity="1">
                <div class="progress-bar hide" slot="progress-bar">
                    <div class="update-bar"></div>
                </div>
            </model-viewer>
        </div>
        <div>
            <p>Reddit a joué un rôle crucial dans la popularisation des backrooms en tant que phénomène Internet.
                La plateforme, connue pour ses nombreux sous-forums (subreddits) dédiés à des sujets spécifiques,
                a fourni un espace propice à la discussion et au partage d'informations sur les backrooms.<br>
                Plusieurs subreddits ont émergé, tels que r/backrooms et r/TrueBackrooms, où les utilisateurs
                pouvaient partager leurs expériences, poser des questions et discuter des différents aspects des
                backrooms. Ces espaces ont permis de rassembler une communauté d'internautes curieux et intéressés
                par cette notion d'espaces fictifs et angoissants.<br>
                Reddit a également été un lieu où les utilisateurs ont pu partager des images, des vidéos et des
                récits visuels qui ont contribué à renforcer l'atmosphère mystérieuse et intriguante des backrooms.
                Des photographies d'intérieurs vides et désolés, des descriptions de niveaux étranges et des histoires
                de rencontres effrayantes ont alimenté l'imaginaire collectif et suscité l'intérêt de nombreux
                utilisateurs de Reddit.<br>
                En outre, Reddit a permis la création de communautés actives et engagées, où les utilisateurs
                pouvaient interagir, partager des théories et discuter de l'univers des backrooms. Les conversations
                animées, les échanges de conseils sur la survie et la navigation dans les backrooms ont contribué à
                forger l'identité de cette communauté en ligne.</p>
        </div>
    </div>
</div>