<div id="_wallworms" class="modalDialog">
    <div><a href="#close" title="Close" class="close">X</a>
        <div>
            <h1 class="titre">Entité : WallWorms</h1>
        </div>
        <div>
            <model-viewer class="viewer-3D" src="{{ url_for('static',filename='content/viewer/model/wallworms.glb') }}"
                          camera-controls
                          poster="poster.webp"
                          shadow-intensity="1">
                <div class="progress-bar hide" slot="progress-bar">
                    <div class="update-bar"></div>
                </div>
            </model-viewer>
        </div>
        <div>
            <p></strong>Entité 24: </strong><br>
                <strong>》Dangereux</strong> <br>
                <strong>》Nombre d'Entités Élevé</strong> <br>
                Les Wall Worms sont de gigantesques vers présents dans les Backrooms. Ils se déplacent de manière
                ondulante et pulsante, ressemblant à des vers de terre, mais beaucoup plus gros. Leur taille dépend
                de l'environnement dans lequel ils se trouvent. Certains Wall Worms renferment des noyaux robotiques
                rouillés à l'intérieur, qui leur donnent la vie. Pour les éliminer, il suffit de détruire ces noyaux.
                Les Wall Worms produisent également une substance corrosive et visqueuse qui peut causer d'importants
                dégâts. Ils vivent principalement dans des niveaux constitués de matériaux mous, mais peuvent aussi
                être présents dans des sections plus solides. La façon dont ces différentes variations de vers muraux
                sont créées reste un mystère.</p>
        </div>
    </div>
</div>