<div id="_youtube" class="modalDialog">
    <div><a href="#close" title="Close" class="close">X</a>
        <div>
            <h1 class="titre">Kane Pixels - Youtube</h1>
        </div>
        <div>
            <model-viewer class="viewer-3D" src="{{ url_for('static',filename='content/viewer/model/youtube.glb') }}"
                          camera-controls
                          poster="poster.webp"
                          shadow-intensity="1">
                <div class="progress-bar hide" slot="progress-bar">
                    <div class="update-bar"></div>
                </div>
            </model-viewer>
        </div>
        <div>
            <p>En 2022, un court métrage d'horreur appelé <a href="https://www.youtube.com/watch?v=H4dGpz6cnHo&t=8s&ab_channel=KanePixels">The Backrooms (Found Footage)</a>, a été mis en ligne sur la
                chaîne YouTube du réalisateur Kane Parsons, âgé de 17 ans, connu sous le pseudonyme Kane Pixels.
                En sortant ce court métrage il est devenu l’un des principaux contributeurs de la popularisation des
                Backrooms.<br>
                Son contenu a suscité l'intérêt des internautes et a inspiré d'autres créateurs à explorer et à
                développer davantage le concept des backrooms. Grâce à ses contributions, les backrooms sont devenus
                un sujet populaire sur les réseaux sociaux et ont acquis une certaine notoriété dans la communauté
                en ligne.<br>
                Cependant, il convient de souligner que les backrooms sont un phénomène internet et une création de
                la communauté en ligne, et leur origine exacte et leur nature sont sujettes à interprétation.
                KanePixel a joué un rôle important dans leur popularisation, mais il est important de garder à
                l'esprit qu'il s'agit avant tout d'un concept imaginé et partagé par les internautes.</p>
        </div>
    </div>
</div>